.floatright {
    float: right; 
    width: 400px;
    border: black;
  }

.resume {
  font-family:'Times New Roman', Times, serif;
}

html {
  font-size: 100%;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 100px;
}

h1 {
  font-size: 2rem
}

h2 {
  font-size: 1.5rem
}

div a {
  color:beige
}

img{
  margin: 30px;
  padding: 30px;
}
